* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Colors */
    --white: #ffffff;
    --black: hsl(0, 0%, 20%);
    --black-glass: hsla(0, 0%, 20%, 0.4);
    --grey-dark: hsl(0, 0%, 30%);
    --grey: hsl(0, 0%, 50%);
    --grey-light: hsl(0, 0%, 70%);
    --blue: rgb(8 145 178);
    --red: rgb(158 28 28);

    /* Sizes */
    --width-border: 960px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 4rem;
    font-weight: 100;
}

h2 {
    font-size: 2.4rem;
    font-weight: normal;
}

p {
    font-family: sans-serif;
    font-size: 1.05rem;
    font-weight: 100;
    color: var(--grey-dark);
}

.shadow {
    box-shadow: 0 2px 8px var(--black-glass);
}

.clipped-background {
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 70vh;

    background-color: var(--blue);
    clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--white);

    max-width: var(--width-border);
    margin: 64px 0;
}

.header__title {
    position: absolute;
    width: 100%;
    bottom: 0;

    text-shadow: 2px 2px var(--black);
    text-align: center;
    color: white;
}

.header__img-container {
    flex: 1;
    position: relative;
    box-shadow: inherit;
    min-width: 256px;
    min-height: 256px;
    transform: scale(1.1);
}

.header__img {
    position: absolute;
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.header__about-me {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: clamp(45ch, 100%, 75ch);
    padding: 32px;
}

.about-me__description {
    line-height: 1.5rem;
}

.header__button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
}

.icon-button {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 4px;

    transition: scale 250ms ease;
    background: none;
    cursor: pointer;
}

.icon-button:hover {
    scale: 1.2;
}

.icon-button:focus {
    border: 2px solid var(--black);
}

.icon-button__img {
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 16px;

    max-width: var(--width-border);
    width: 100%;
    margin: 64px 0 128px 0;
    padding: 0 8px;
}

.projects-container {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
}

.project {
    display: flex;
    flex-direction: column;

    height: 360px;
}

.project__img-container {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: var(--red);
}

.project__info-container {
    flex: 1;
    padding: 8px 16px;
    background-color: var(--white);
}

.project__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project__icon-button {
    width: 24px;
    height: 24px;
}

.project__description {
    padding-top: 8px;
    font-size: 0.8rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    background-color: var(--blue);
}

.footer__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;

    padding: 32px 0px;
    max-width: var(--width-border);
}

.footer__contacts-container {
    display: flex;
    flex-direction: column;
    width: clamp(45ch, 100%, 55ch);
    padding: 0 8px;

    gap: 24px;
}

.footer__title {
    color: var(--white);
}

.footer__text {
    color: var(--white);
}

.footer__contacts {
    display: grid;
    grid-template-columns: 32px 1fr;
    gap: 8px;

    align-items: center;
}

.footer__links {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.footer__icon-button {
    width: 48px;
    height: 48px;
}

.footer__img-container {
    flex: 1;
    min-width: 256px;
}

.footer__img {
    object-position: 90% 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.footer__icon {
    width: 24px;
    height: 24px;
}

@media (width <= 885px) {
    header {
        margin-top: 0;
    }
}

@media (width <= 645px) {
    h2 {
        text-align: center;
    }

    .header__button-container {
        justify-content: center;
    }

    .footer__links {
        justify-content: center;
    }

    .footer__container {
        padding-bottom: 0;
    }
}
